@page "/login"

@inject NavigationManager NavigationManager

<div class="text-center">
    <h3 class="mb-3">Login</h3>
    <form class="form-signin">
        <div class="form-group">
            <label for="username" class="sr-only">Username:</label>
            <input id="username" class="form-control" placeholder="Username" required autofocus />
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password:</label>
            <input id="password" class="form-control" placeholder="Password" required type="password" />
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <button class="btn btn-lg btn-secondary btn-block" @onclick="GoToRegisterPage">Register</button>
    </form>
</div>

@code {
    private void GoToRegisterPage()
    {
        NavigationManager.NavigateTo("/register");

    }
}