@page "/mainmenu"
@using Microsoft.AspNetCore.Identity
@using BlazorTD.Models;
@inject UserService UserService
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


<div class="section bg">
    <div class="container">
    <div class="row full-height justify-content-center">
		<div class="col-12 text-center align-self-center py-5">
			<div class="section pb-5 pt-5 pt-sm-2 text-center">
                <img src="images/Logo.png" alt="Logo">
						<div class="card-3d-wrap mx-auto">
							<div class="card-3d-wrapper">
                            <div class="card-body">
                                <p>Welcome, @UserService.Username!</p>
                                <p>Gold Spent: @UserService.GoldSpent</p>
                                <p><button type="button" class="btn btn mb-2" @onclick="goToGame">Start Game</button></p>
                                <p><button type="button" class="btn btn mb-2" @onclick="goToProfile">Your Profile</button></p>
                                <p><button type="button" class="btn btn mb-2" @onclick="goToLeaderboard">Leaderboard</button></p>
                                <p><button type="button" class="btn btn mb-2" @onclick="Logout">Log out</button></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
</div>


@code {
    private async Task Logout()
    {
        UserService.Username = null;
        NavigationManager.NavigateTo("/login");
    }
    private void goToLeaderboard()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }
    private void goToGame()
    {
        NavigationManager.NavigateTo("/Game");
    }
    private void goToProfile()
    {
        NavigationManager.NavigateTo("/profile");
    }
}