@if (IsVisible)
{
    <div class="modal">
        <div class="modal-content">
            <span class="close" @onclick="Close">&times;</span>
            <p>@Message</p>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public EventCallback Close { get; set; }
}